.main {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 28px 100px;
  min-height: 60vh;
}

@media (max-width: 640px) {
  .main {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (max-width: 430px) {
  .main {
    padding-left: 14px;
    padding-right: 14px;
  }
}
